<div>
    <select [(ngModel)]="selectedLehrer" (ngModelChange)="loadFacher()">
        <option *ngFor="let l of lehrer" [ngValue]="l">{{l.vorname + ' ' + l.namen}}</option>
    </select>
    <table class="table table-striped">
        <tr>
            <th>Schüler Vorname</th>
            <th>Schüler Nachname</th>
            <th>Klasse</th>
            <th>Fach</th>
            <th>Note</th>
        </tr>
        <tr *ngFor="let zeugnis of zeugnise">
            <td>{{zeugnis.schueler.vorname}}</td>
            <td>{{zeugnis.schueler.name}}</td>
            <td>{{zeugnis.klasse.name}}</td>
            <td>{{zeugnis.fach.name}}</td>
            <!--<td><input type="number" min="1" max="6" ngModel="zeugnis.note"></td>-->
        </tr>
    </table>

</div>
