<div>
    <div style="text-align: center">
        <h1>FRIEDRICH-DESSAUER-SCHULE</h1>
        <h3>LIMBURG/LAHN</h3>
        <h3>Berufliche Schulen - Schwerpunkt: Technik</h3>
        <h2><b>{{'Zeugnis der ' + schulform}}</b></h2>
        <hr>
        <h2><b>{{zeugnis.schueler.vorname + ' ' + zeugnis.schueler.name}}</b></h2>
        <hr>
    </div>
    <div *ngIf="kopfNotenVisible" style="text-align: center">
        <b>{{'Sozialverhalten: ' + zeugnis.sozialverhalten + ' Arbeitsverhalten: ' + zeugnis.arbeitsverhalten}}</b>
    </div>
    <p style="text-align: left">{{'Datum: ' + datum}}</p>
    <p style="text-align: right ">{{'Klasse: ' + zeugnis.schueler.klasse.name}}</p>
    <table class="table">
        <tr>
            <th>Fach</th>
            <th>Note</th>
        </tr>
        <!--<tr *ngFor="let fach of zeugnis.facher">-->
            <!--<td>{{fach.fach.name}}</td>-->
            <!--<td>{{fach.note}}</td>-->
        <!--</tr>-->
    </table>

</div>
