<div>
    <h2>
        <span jhiTranslate="srmsApp.printZeugnis.home.title">Print Zeugnis</span>
        <button class="btn btn-primary float-right create-print-zeugnis" [routerLink]="['/', { outlets: { popup: ['print-zeugnis-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="srmsApp.printZeugnis.home.createLabel">
            Create new Print Zeugnis
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="printZeugnis">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let printZeugnis of printZeugnis ;trackBy: trackId">
                <td><a [routerLink]="['../print-zeugnis', printZeugnis.id ]">{{printZeugnis.id}}</a></td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../print-zeugnis', printZeugnis.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'print-zeugnis/'+ printZeugnis.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'print-zeugnis/'+ printZeugnis.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
