<div id="page-wrapper">

    <!-- Header -->

    <section id="banner" data-video="images/background">
        <div class="inner">
            <header>
                <img src="logo.png" alt="Logo">
                <h1><font color="#3300ff">S</font>chool <font color="#3300ff">R</font>eport <font
                    color="#3300ff">M</font>anaging <font color="#3300ff">S</font>oftware</h1>
                <p>Datenbankgestützte Zeugnisverwaltung<br/>
                    Erstellt im Rahmen eines Projektes für das Lernfeld 6 - Entwickeln und Bereitstellen von
                    Anwendungssystemen<br/>
                    von Falk Jäger & Moritz Hermann</p>
            </header>
            <ul class="actions">
                <div [ngSwitch]="isAuthenticated()">
                    <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                      translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
                    </div>

                    <div *ngSwitchCase="false">
                        <a class="alert-link button special big" (click)="login()">Log in</a>
                    </div>
                </div>
            </ul>
        </div>
        <a href="#one" class="more">Learn More</a>
    </section>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- One -->
        <section id="one" class="main">
            <div class="inner spotlight style1">
                <div class="content">
                    <header>
                        <h2>Ziele des Projektes</h2>
                    </header>
                    <p>Ziel unserer Gruppe ist es, eine Datenbank zu entwickeln welche den Verwaltungsaufwand für die
                        Erstellung von Zeugnissen reduziert. Die DAtenbank soll für berufliche Schulen als auch für
                        allgemein bildende Schulen verwendbar sein.</p>
                </div>
                <span class="image"><img src="pic01.svg" alt="Logo"></span>
            </div>
        </section>

        <!-- Four -->
        <section id="four" class="main special">
            <div class="inner">
                <header>
                    <h2>Allgemeine Informationen</h2>
                </header>
                <div class="features">

                    <section>
                        <span class="icon major fa-laptop style2"></span>
                        <h3>Endgeräte unabhänig</h3>
                        <p>Komplett in HTML5 und somit unabhänig von extra Software - ein aktueller Browser reicht!</p>
                    </section>
                    <section>
                        <span class="icon major fa-save style4"></span>
                        <h3>Alle Schüler-Daten an einem Platz</h3>
                        <p>Kontaktdaten, Klasse, Klassenlehrer, Noten und vieles mehr in einer zentralen Datenbank.</p>
                    </section>
                </div>
            </div>
        </section>
    </div>


</div>
