<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myZeugnisFachLabel" jhiTranslate="srmsApp.zeugnisFach.home.createOrEditLabel">Create or edit a Zeugnis Fach</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!zeugnisFach.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="zeugnisFach.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="srmsApp.zeugnisFach.note" for="field_note">Note</label>
            <input type="number" class="form-control" name="note" id="field_note"
                [(ngModel)]="zeugnisFach.note"
             />
        </div>

        <div class="form-group">
            <label jhiTranslate="srmsApp.zeugnisFach.zeugnis" for="field_zeugnis">Zeugnis</label>
            <select class="form-control" id="field_zeugnis" name="zeugnis" [(ngModel)]="zeugnisFach.zeugnisId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="zeugnisOption.id" *ngFor="let zeugnisOption of zeugnis; trackBy: trackZeugnisById">{{zeugnisOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="srmsApp.zeugnisFach.fach" for="field_fach">Fach</label>
            <select class="form-control" id="field_fach" name="fach" [(ngModel)]="zeugnisFach.fachId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="fachOption.id" *ngFor="let fachOption of faches; trackBy: trackFachById">{{fachOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
